<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>New Menu Item</h1>

    <form action="{{url_for('new_menu_item', restaurant_id=restaurant_id )}}" method="POST">
        <p>Name:</p>        
        <input type='text' size='30' name='name'>        
        <input type='submit' value='Create'>
    </form>

</body>
</html>